__pycache__/
app.db
src/__pycache__/
src/database/__pycache__/
src/sms/__pycache__/
src/telegram/buttons/__pycache__/
src/telegram/handlers/__pycache__/
test2.py
venv
.env
run.py
setup.py
errors.log
test.py
emails.json