<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="10">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Page</title>
</head>
<body>
    <div class="header">
        <div class="left">
            <a href="/emails">Emails</a>
        </div>
        <div class="right">
            <a href="/messages">All messages</a>
        </div>
    </div>

<form action="main" method="GET">
  <div class="search-box">
    <input type="text" class="search-txt" name="query" placeholder="Search emal">
    <button type="submit" class="search-btn"><i class="fa fa-search">Search</i></button>
  </div>
</form>



    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
