<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Page</title>
</head>
<body>
    <div class="header">
        <div class="left">
            <a href="http://46.101.230.141:5000/main">Emails</a>
        </div>
        <div class="right">
            <a href="http://46.101.230.141:5000/messages">All messages</a>
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
