        body {
            margin: 0;
            padding: 0;
        }
        .header {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 60px;
            background-color: #555;
            color: white;
            font-size: 24px;
            font-weight: bold;
            padding: 0 20px;
        }

        .header a {
            color: white;
            text-decoration: none;
        }
        .header a:hover {
            text-decoration: underline;
        }


ul {
  list-style: none;
  margin-left: 10px;
  margin-top: 25px;
  font-size: 25px
}

li {
  margin: 15px;
  padding: 0;
}


a:hover {
  text-decoration: underline;
}


.search-box {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 600px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
}

.search-txt {
  flex: 1;
  padding: 0 16px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  outline: none;
}

.search-btn {
   font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  background-color: #4285F4;
  color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.img-msg{
    display: none;
   }

@media only screen and (max-width: 600px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 10px;
  }
  td {
    display: block;
    text-align: center;
    font-size: 18px;
    border-bottom: none;
    padding: 5px 10px;
  }
  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
    .extra-row {
    display: none;
  }
  .email{
    width: 100%;
    align-text: center;
  }
  .one-msg{
    margin-bottom: 35px;
  }
  .img-msg{
    display: block;
    padding-bottom: 0px;
  }
}

